* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  html {
    overflow-y: scroll;
  }
  a {
    text-decoration: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fafafa;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 50px;
    width: 100vw;
    z-index: 10;
  }
  #logo {
    margin-top: 10px;
    cursor: pointer;
  }
  #logo h3 {
    display: inline-block;
  }
  nav ul {
    margin-left: 400px;
    list-style: none;
  }
  nav ul li {
    display: inline-block;
    margin-top: 25px;
    margin-left: 8px;
    cursor: pointer;
  }
  nav ul li:hover {
    color: #ccc;
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #b2a9b1;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color:whitesmoke ;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 3px;
}

.message.error {
    background-color: #ffcccc;
    color: #cc0000;
}

.message.success {
    background-color: #ccffcc;
    color: #009900;
}
footer {
  width: 100vw;
  height: 50vh;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  
}

#mainFoot {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 65px;
}

#footerLinks {
  display: flex;
  flex-direction: row;
}

#footerLinks div {
  margin-top: 50px;
  margin-left: 100px;
}

#footerLinks ul li:first-of-type {
  font-size: 10px;
  color: #ccc;
  font-weight: bolder;
  cursor: unset;
}

#footerLinks ul li:first-of-type:hover {
  color: #ccc;
}

#footerLinks ul li {
  cursor: pointer;
  margin-bottom: 15px;
}

#footerLinks ul li:hover {
  color: greenyellow;
}
#socialFoot {
  margin-top: 50px;
}

#socialFoot span {
  margin-left: 10px;
  cursor: pointer;
}

#footLogo h3 {
  display: inline-block;
}


#tailFooter {
  display: flex;
  justify-content: space-around;
}

#tailFooter ul li {
  display: inline-block;
  margin-left: 20px;
  font-size: 10px;
  color: gray;
  cursor: pointer;
}

#tailFooter ul li:hover {
  color: greenyellow;
}


